@model IEnumerable<CvbK22CNT4Lesson11_2210900091.Models.CvbCategory>

@{
    ViewBag.Title = "Danh mục sản phẩm";
    Layout = "~/Views/Shared/_Cvb2210900091Layout.cshtml";
}

<h2>Danh mục sản phẩm</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<a href="/CvbCategories/Create" class="btn btn-primary my-3">Thêm mới</a>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CvbID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CvbCategory1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CvbStatus)
        </th>
        <th>Chức năng</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CvbID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CvbCategory1)
    </td>
    <td>
        @*Html.DisplayFor(modelItem => item.CvbStatus)*@

        @if (item.CvbStatus == true)
                {
                    <span style="color:green"> Hoạt động </span>
                }
        else
        {
             <span style="color:red"> Không hoạt động </span>
        }
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.CvbID }) |
        @Html.ActionLink("Details", "Details", new { id = item.CvbID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.CvbID })
    </td>
</tr>
}

</table>
