
@{
    ViewBag.Title = "Thông tin khách hàng";
}

<h2>Thông tin khách hàng</h2>
<div class="alert alert-danger">
    <p>Mã Số: @ViewBag.customer.CustomerId </p>
    <p>Họ và Tên : @ViewBag.customer.FirstName @ViewBag.customer.LastName</p>
    <p>Địa chỉ: @ViewBag.customer.Address </p>
    <p>Năm Sinh: @ViewBag.customer.YearOfBirth  </p>
</div>

