@model CvbBaiKiemTraGK.Models.cvbKhoa

@{
    ViewBag.Title = "CvbDetails";
}

<h2>Details</h2>

<div>
    <h4>cvbKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CvbTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CvbTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CvbTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CvbTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("CvbEdit", "CvbEdit", new { id = Model.CvbMaKH }) |
    @Html.ActionLink("Back to List", "CvbIndex")
</p>
